[Desktop Entry]
Name=Zinf
Comment=Zinf audio player
Comment[pl]=Odtwarzacz dźwięku Zinf
Icon=zinf
Exec=zinf -ui zinf.ui
Terminal=false
Type=Application
Categories=Audio;Player;
# vi: encoding=utf-8
